{% extends "base.html" %}

{% block content %}
    <div class="row justify-content-center">
        <h1 class="text-center mb-3 mb-lg-5">{{ gettext('Reset Your Password') }}</h1>
        <div class="col-xxl-4 col-xl-5 col-lg-6 col-md-8 col-sm-10 col-12">
            {% from "_form_helper.html" import render_field %}
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                {{ render_field(form.password, 'form-control rounded-pill', 'is-invalid', placeholder='secret') }}
                {{ render_field(form.confirm, 'form-control rounded-pill', 'is-invalid', placeholder='secret') }}
                {{ form.submit(class='form-control btn btn-outline-primary rounded-pill mt-3') }}
            </form>
        </div>
    </div>
{% endblock %}