{% extends "base.html" %}

{% block content %}
    <section class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <h1 class="text-center mb-5">{{ gettext('Reset Your Password') }}</h1>
                {% from "_form_helper.html" import render_field %}
                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    {{ render_field(form.password, 'form-control rounded-pill', 'is-invalid', placeholder='secret') }}
                    {{ render_field(form.confirm, 'form-control rounded-pill', 'is-invalid', placeholder='secret') }}
                    {{ form.submit(class='form-control btn btn-outline-primary rounded-pill mt-3') }}
                </form>
            </div>
        </div>
    </section>
{% endblock %}