<p>{{ gettext('Dear %(username)s,', username=current_user.username|capitalize) }}</p>
<p>
    {{ gettext('To reset your password') }}
    <a href="{{ url_for('auth.reset_password', token=token, _external=True) }}">{{ gettext('click here') }}</a>.
</p>
<p>{{ gettext("Alternatively, you can paste the following link in your browser's address bar:") }}</p>
<p>{{ url_for('auth.reset_password', token=token, _external=True) }}</p>
<p>{{ gettext('If you have not requested a password reset simply ignore this message.') }}</p>
<p>{{ gettext('Sincerely,') }}</p>
<p>{{ gettext('The Microblog Team') }}</p>