{% macro render_pagination(pagination, endpoint, prev_url, next_url, user=None) %}
    <ul class="pagination justify-content-center">
        <li class="page-item {% if not prev_url %} disabled {% endif %}">
            <a class="page-link" href="{{ prev_url or '#' }}">{{ gettext('Previous') }}
            </a>
        </li>
        {%- for page in pagination.iter_pages(right_current=2) %}
            {% if page %}
                {% if page != pagination.page %}
                    <li class="page-item">
                        {% if endpoint == 'main.profile' %}
                            <a class="page-link"
                               href="{{ url_for(endpoint, username=user.username, page=page) }}">{{ page }}</a>
                        {% else %}
                            <a class="page-link" href="{{ url_for(endpoint, page=page) }}">{{ page }}</a>
                        {% endif %}
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <strong class="page-link">{{ page }}</strong>
                    </li>
                {% endif %}
            {% else %}
                <span class=ellipsis>…</span>
            {% endif %}
        {%- endfor %}
        <li class="page-item {% if not next_url %} disabled {% endif %}">
            <a class="page-link" href="{{ next_url or '#' }}">{{ gettext('Next') }}
            </a>
        </li>
    </ul>
{% endmacro %}