<div class="row mb-3">
    <div class="col-8 mx-auto">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-2 align-self-center border-end">
                    <a href="{{ url_for('profile', username=post.author.username) }}">
                        <img class="d-block mx-auto" src="{{ post.author.avatar(60) }}" alt="">
                    </a>
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <a href="{{ url_for('profile', username=post.author.username) }}" class="text-decoration-none">
                            <h5 class="card-title">{{ post.author.username | capitalize }}</h5>
                        </a>
                        <p id="post{{ post.id }}" class="card-text">{{ post.body }}</p>
                        {% if post.language and post.language != g.locale %}
                            <span id="translation{{ post.id }}">
                                <a class="small text-decoration-none" href="javascript:translate(
                                'post{{ post.id }}',
                                'translation{{ post.id }}',
                                '{{ g.locale }}',
                                '{{ post.language }}');">{{ _('Translate') }}</a>
                            </span>
                        {% endif %}
                        <p class="card-text">
                            <small class="text-muted">{{ moment(post.timestamp).fromNow() }}</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
