<div class="row">
    <div class="col-lg-8 mx-auto mb-3 d-flex align-items-center py-2 shadow-sm rounded-3">
        <div class="align-self-baseline flex-shrink-0 me-3">
            <a href="{{ url_for('main.profile', username=post.author.username) }}"
               data-username="{{ post.author.username }}">
                <img class="rounded-circle" src="{{ post.author.avatar(48) }}" alt="">
            </a>
        </div>
        <div class="flex-grow-1">
            <span>
                <a href="{{ url_for('main.profile', username=post.author.username) }}"
                   data-username="{{ post.author.username }}" class="text-decoration-none text-dark fw-bold">
                    {{ post.author.username }}
                </a>
            </span>
            <small class="text-muted">&nbsp;{{ moment(post.timestamp).fromNow() }}</small>
            <p id="post{{ post.id }}" class="small mb-1">{{ post.body }}</p>
            {% if post.language and post.language != g.locale %}
                <span id="translation{{ post.id }}">
                <a class="small text-decoration-none" href="javascript:void(0)" onclick="translate(
                        'translation{{ post.id }}',
                        'post{{ post.id }}',
                        '{{ g.locale }}',
                        '{{ post.language }}');">
                    {{ gettext('Translate') }}
                </a>
            </span>
            {% endif %}
        </div>
    </div>
</div>