{% extends "base.html" %}

{% block content %}
    <div class="row justify-content-center">
        <h1 class="text-center mb-3 mb-lg-5">{{ gettext('Edit Your Profile.') }}</h1>
        <div class="col-lg-6 col-md-8 col-sm-12">
            {% from "_form_helper.html" import render_field %}
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                {{ render_field(form.username, 'form-control rounded-pill', 'is-invalid', placeholder='john doe') }}
                {{ render_field(form.about_me, 'form-control', 'is-invalid', placeholder='john doe') }}
                {{ form.submit(class='form-control btn btn-outline-primary rounded-pill mt-3') }}
            </form>
        </div>
    </div>
{% endblock %}