{% extends "base.html" %}
{% set active_page = 'index' %}

{% block content %}
    {% from "_form_helper.html" import render_field %}
    <form class="justify-content-center mb-3 mb-lg-5" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        {{ render_field(form.post, 'form-control rounded-3', 'is-invalid', placeholder='dummy') }}
        {{ form.submit(class='btn btn-outline-primary rounded-pill') }}
    </form>
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    {% from "_pagination_helper.html" import render_pagination %}
    {{ render_pagination(pagination, 'main.index', prev_url, next_url) }}
{% endblock %}