{% extends "base.html" %}
{% set active_page = 'profile' %}

{% block content %}
    <section class="container">
        <div class="row justify-content-center">
            <div class="col mb-5">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ user.avatar(128) }}" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">{{ user.username | capitalize }}</h3>
                        <p class="card-text">{% if user.about_me %}{{ user.about_me }}{% endif %}</p>
                        <p class="card-text">{% if user.last_seen %}<small class="text-muted">{{ _('Last seen on:') }}
                            {{ moment(user.last_seen).format('LLLL') }}{% endif %}</small></p>
                        <p>
                            {{ user.followers.count() }} {% if user.followers.count() < 2 %} {{ _('follower') }} {% else %}
                            {{ _('followers') }} {% endif %} &nbsp; {{ user.followed.count() }} {{ _('following') }}
                        </p>
                        {% if user == current_user %}
                            <a class="btn btn-outline-info rounded-pill" href="{{ url_for('edit_profile') }}">
                                {{ _('Edit your profile') }}</a>
                        {% elif current_user.is_following(user) %}
                            <form action="{{ url_for('unfollow', username=user.username) }}" method="post">
                                {{ form.hidden_tag() }}
                                {{ form.submit(value='Unollow', class='btn btn-outline-info rounded-pill') }}
                            </form>
                        {% else %}
                            <form action="{{ url_for('follow', username=user.username) }}" method="post">
                                {{ form.hidden_tag() }}
                                {{ form.submit(value='Follow', class='btn btn-outline-info rounded-pill') }}
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% for post in posts %}
            {% include '_post.html' %}
        {% endfor %}
        {% from "_pagination_helper.html" import render_pagination %}
        {{ render_pagination(pagination, 'profile', prev_url, next_url, user=user) }}
    </section>
{% endblock %}